html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    font: inherit;
    vertical-align: middle;
}

.screen, .screen img, .minimap, .minimap img {
    position: absolute;
}

.screen, .minimap {
    left: 50%;
}

.screen {
    height: 1px;
    top: 50%;
}

.screen img, .minimap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
}

.minimap {
    top: 75%;
}

.minimap img {
    clip-path: url(#mask);
}

.instructions {
    text-align: center;
}

#error {
    color: red;
}

#current {
    height: 1px;
    background-color: red;
    position: relative;
}

input[type="submit"], #pseudoUpload label {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 6px 12px;
    background: white;
    cursor: pointer;
}

#pseudoUpload {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#pseudoUpload label {
    height: 100%;
    width: 80px;
    display: block;
}